.base-label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;

}



  table{
    border-collapse: separate;
    border-spacing: 100px 0;
    margin-left:auto; 
    margin-right:auto;
     
  }

