.base-label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    font-family:sans-serif;
}

.priceinput{
    color: black;
    border-radius: 5px;
    width:70px;
    padding-left:10px;
}


  
 

  table{
    border-collapse: separate;
    border-spacing: 100px 0;
    margin-left:auto; 
    margin-right:auto;
    font-family:sans-serif;
    
  }

  .sauce-label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px; 
    font-family:sans-serif;
  }



  .turbo-label{
      font-size:18px
  }

  .toppings-types{
      font-size: 18px
  }